<div class="table-container container mt-1">
    <div class="card1 card p-2">
        <h4 class="titulo card-title text-center font-weight-bold">LISTADO DE PRODUCTOS</h4>
        <button routerLink="/crear-producto" class="btn btn-secondary offset-md-9 col-md-2 col-12 btn-agregar">Agregar</button>
        <div class="card-body">
            <table class="rounded table1 table table-hover table-striped">
                <thead class="text-dark">
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Ubicacion</th>
                    <th scope="col">Precio</th>
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>jjjjj</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>JSJS</td>
                    <td>KSKSKS</td>
                    <td><i routerLink="/editar-producto/7" class="far text-success fa-edit"></i></td>
                    <td><i class="fas text-danger fa-trash"></i></td>
                  </tr>
                  <tr>
                    <td>jjjjj</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>JSJS</td>
                    <td>KSKSKS</td>
                    <td><i class="far fa-edit"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                  </tr>
                  <tr>
                    <td>jjjjj</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>JSJS</td>
                    <td>KSKSKS</td>
                    <td><i class="far fa-edit"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                  </tr>
                  <tr>
                    <td>jjjjj</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                    <td>JSJS</td>
                    <td>KSKSKS</td>
                    <td><i class="far fa-edit"></i></td>
                    <td><i class="fas fa-trash"></i></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
